@{
    ViewData["Title"] = "O projekcie";
}
<h1>@ViewData["Title"]</h1>

<p>Projekt na laboratorium z NTR</p>
<p>Wykonał Dominik Nowak</p>
<span class="badge badge-pill badge-success">Success</span>

<p>Załaduj dane do bazy <a style="color: coral;" asp-area="" asp-controller="Home" asp-action="Populate">ładuj</a></p>